#particles canvas{
    z-index:-1;
    height:100%;
    width:100%;
    position:absolute;
}
.about_container{
    position:relative;
}

.img_about img{
    background: url(../assets//avatar2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:600px;
    height:600px;
    box-shadow:inset 0 0 0 9px rgb(255 255 255 / 30%);
    order:1;
    justify-self: center;
    animation:profile_animate 8s ease-in-out infinite 1s;
    z-index:1;
}

@keyframes profile_animate{
    0%{
        border-radius:60% 40% 30% 70%/60% 30% 70% 40%
    }
    50%{
        border-radius:30% 60% 70% 40%/50% 60% 30% 60%
    }
    100%{
        border-radius:60% 40% 30% 70%/60% 30% 70% 40%
    }
}
